/*Здесь находиться стиль для элемента body*/
body{
    background: lightcyan;   /* Устанавливаем светло-голубой цвет фона */
    width: 800px;              /* Устанавливаем ширину body 800 пикселов */
    margin: auto;              
    color: #ff0000;          /* Утанавливаем красный цвет для элементов */
}

h1{
    color: maroon;
    text-align: center;
}

p {
    color: gray;
    border: 1px solid gray;
    padding: 10px;
}